@color_border: #888888;

body {
    padding: 0;
    margin: 0;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 14px;
    background: #faf8ef;
    overflow: hidden;
}

#app {
    position: absolute;
}

#game {
    position: absolute;
    border: 1px solid @color_border;
}

#text {
    position: absolute;
    text-align: center;
    color: @color_border;
}

#score {
    position: absolute;
    color: @color_border;
}

#new_game {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    right: 0;
    color: @color_border;

    &:hover {
        background: @color_border;
        color: white;
    }
}

.chip {
    position: absolute;
    cursor: default;
    border-radius: 25px;

    .value {
        text-align: center;
    }

    &.v2 { background: rgb(3, 204, 223); }
    &.v4 { background: rgb(40, 97, 35); color: white; }
    &.v8 { background: rgb(238, 129, 5); }
    &.v16 { background: rgb(141, 73, 9); color: white; }
    &.v32 { background: rgb(219, 37, 210); color: white; }
    &.v64 { background: rgb(230, 199, 64); }
    &.v128 { background: rgb(236, 48, 48); color: white; }
    &.v256 { background: rgb(66, 145, 236); }
    &.v512 { background: rgb(47, 11, 11); color: white; }
    &.v1024 { background: rgb(113, 241, 8); }
    &.v2048 { background: rgb(255, 123, 151); }
    &.v4096 { background: rgb(92, 91, 91); color: white; }
    &.v8192 { background: rgb(12, 17, 82); color: white; }
    &.v16384 { background: rgb(0, 255, 136); }
    &.v32768 { background: rgb(116, 10, 214); color: white; }
    &.v65536 { background: rgb(255, 124, 84); }
    &.v131072 { background: rgb(189, 189, 189); }
}
